root = true

[*.{yml,json}]
indent_style = space
indent_size = 2

[{wordpress/wp-content/mu-plugins,wordpress/wp-content/themes/calyx}/**]
charset = utf-8
end_of_line = lf
indent_style = tab
trim_trailing_whitespace = true
