/**
 * Define the text styles.
 */

* {
	margin: 0;
	padding: 0;
}

html,
body {
	text-decoration-skip-ink: auto;
	font-size: 20px; /* 1rem */
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-weight: 700;
}

	h1, .h1 { font-size:   2rem; }
	h2, .h2 { font-size: 1.9rem; }
	h3, .h3 { font-size: 1.8rem; }
	h4, .h4 { font-size: 1.7rem; }
	h5, .h5 { font-size: 1.6rem; }
	h6, .h6 { font-size: 1.5rem; }

	 * + h2,
	 * + h3,
	 * + h4,
	 * + h5,
	 * + h6,
	* + .h2,
	* + .h3,
	* + .h4,
	* + .h5,
	* + .h6 {
		margin-top: 1.5em;
	}

p,
ol,
ul,
li,
td,
pre,
blockquote {
	line-height: normal;
}

	* + p,
	* + ol,
	* + ul,
	* + pre,
	* + form,
	* + table,
	* + video,
	* + iframe,
	* + blockquote,
	* + img.aligncenter,
	img.aligncenter + * {
		margin-top: 1rem;
	}

	 h1 + *,
	 h2 + *,
	 h3 + *,
	 h4 + *,
	 h5 + *,
	 h6 + *,
	.h1 + *,
	.h2 + *,
	.h3 + *,
	.h4 + *,
	.h5 + *,
	.h6 + * {
		margin-top: 0.5rem;
	}

a,
.a,
.link {
	text-decoration: underline;
}

b,
.b,
strong,
.strong {
	font-weight: 700;
}

ul,
ol {
	margin-left: 1rem;
}

blockquote {
	width: 80%;
	font-style: italic;
}

hr,
.hr {

}

abbr,
acronym {

}

hr,
.hr,
.container,
#container,
blockquote,
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

	.aligncenter { text-align: center; }

	.container,
	#container,
	.container--fullwidth {
		width: 100%;
		max-width: 990px;
	}

		.container,
		#container { width: 90%; }

.alignleft,
.alignright {
	float: left;
	display: inline;
	text-align: left;
}

.alignright {
	float: right;
	text-align: right;
}

.screen-reader-text {
	position: absolute !important;
	width: 1px;
	height: 1px;
	clip-path: polygon( 0 0, 0 0, 0 0, 0 0 );
	clip: rect( 1px, 1px, 1px, 1px );
	white-space: nowrap;
	overflow: hidden;
}


/*
 ######   #######  ##    ## ########    ###    #### ##    ## ######## ########   ######
##    ## ##     ## ###   ##    ##      ## ##    ##  ###   ## ##       ##     ## ##    ##
##       ##     ## ####  ##    ##     ##   ##   ##  ####  ## ##       ##     ## ##
##       ##     ## ## ## ##    ##    ##     ##  ##  ## ## ## ######   ########   ######
##       ##     ## ##  ####    ##    #########  ##  ##  #### ##       ##   ##         ##
##    ## ##     ## ##   ###    ##    ##     ##  ##  ##   ### ##       ##    ##  ##    ##
 ######   #######  ##    ##    ##    ##     ## #### ##    ## ######## ##     ##  ######
*/

.container--ratio {
	position: relative;
	overflow: hidden;
}

.container--ratio::before {
	content: '';
	float: left;
	display: inline-block;
	width: 1px;
	height: 0;
	margin-left: -1px;
}

.container--ratio img,
.container--ratio .fill-container,
.container--ratio.has-lqip::after {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 2;
	display: block;
	width: 100%;
	height: 100%;
	transform: translate( -50%, -50% );
	object-fit: cover;
}

	.container--ratio.has-lqip::after {
		content: '';
		z-index: 1;
		background-repeat: no-repeat;
		background-size: cover;
	}

.fill-container {
	width: 100%;
	height: 100%;
}


/*
#### ##     ##    ###     ######   ########  ######
 ##  ###   ###   ## ##   ##    ##  ##       ##    ##
 ##  #### ####  ##   ##  ##        ##       ##
 ##  ## ### ## ##     ## ##   #### ######    ######
 ##  ##     ## ######### ##    ##  ##             ##
 ##  ##     ## ##     ## ##    ##  ##       ##    ##
#### ##     ## ##     ##  ######   ########  ######
*/

img,
video,
figure,
picture {
	max-width: 100%;
}

img.alignleft  { margin: 1.11rem 1.11rem 1.11rem 0; }
img.alignright { margin: 1.11rem 0 1.11rem 1.11rem; }

img.lazyload,
img.lazyloading,
img.lazyloaded {
	opacity: 0;
}

	img.lazyloading,
	img.lazyloaded {
		will-change: opacity;
		transition: opacity 0.5s;
	}

	img.lazyloaded {
		opacity: 1;
	}


/*
########  ##     ## ######## ########  #######  ##    ##  ######
##     ## ##     ##    ##       ##    ##     ## ###   ## ##    ##
##     ## ##     ##    ##       ##    ##     ## ####  ## ##
########  ##     ##    ##       ##    ##     ## ## ## ##  ######
##     ## ##     ##    ##       ##    ##     ## ##  ####       ##
##     ## ##     ##    ##       ##    ##     ## ##   ### ##    ##
########   #######     ##       ##     #######  ##    ##  ######
*/

.btn,
.btn--large,
.btn--primary,
.btn--secondary {

}

/** Button hover effects */
@media ( hover: hover ) and ( pointer: fine ) {

}


/*
 ######   #######  ##        #######  ########   ######
##    ## ##     ## ##       ##     ## ##     ## ##    ##
##       ##     ## ##       ##     ## ##     ## ##
##       ##     ## ##       ##     ## ########   ######
##       ##     ## ##       ##     ## ##   ##         ##
##    ## ##     ## ##       ##     ## ##    ##  ##    ##
 ######   #######  ########  #######  ##     ##  ######
*/

a,
.a,
.link,
.color--blue,
.color--primary {
	color: #369;
}

html,
body,
.color--black,
.color--secondary {
	color: #000;
}

.color--white {
	color: #FFF;
}

/** Color hover effects */
@media ( hover: hover ) and ( pointer: fine ) {

	a:hover,
	.hover--color--black:hover { color: #000; }

}


/*
########     ###     ######  ##    ##  ######   ########   #######  ##     ## ##    ## ########   ######
##     ##   ## ##   ##    ## ##   ##  ##    ##  ##     ## ##     ## ##     ## ###   ## ##     ## ##    ##
##     ##  ##   ##  ##       ##  ##   ##        ##     ## ##     ## ##     ## ####  ## ##     ## ##
########  ##     ## ##       #####    ##   #### ########  ##     ## ##     ## ## ## ## ##     ##  ######
##     ## ######### ##       ##  ##   ##    ##  ##   ##   ##     ## ##     ## ##  #### ##     ##       ##
##     ## ##     ## ##    ## ##   ##  ##    ##  ##    ##  ##     ## ##     ## ##   ### ##     ## ##    ##
########  ##     ##  ######  ##    ##  ######   ##     ##  #######   #######  ##    ## ########   ######
*/

.bg--blue,
.bg--primary,
.btn--primary {
	background-color: #369;
}

.bg--black,
.bg--secondary {
	background-color: #000;
}

html,
body,
.bg--white {
	background-color: #FFF;
}

/** Background hover effects */
@media ( hover: hover ) and ( pointer: fine ) {

	.btn--primary:hover,
	.hover--bg--black:hover { background-color: #000; }

}


/*
########   #######  ########  ########  ######## ########   ######
##     ## ##     ## ##     ## ##     ## ##       ##     ## ##    ##
##     ## ##     ## ##     ## ##     ## ##       ##     ## ##
########  ##     ## ########  ##     ## ######   ########   ######
##     ## ##     ## ##   ##   ##     ## ##       ##   ##         ##
##     ## ##     ## ##    ##  ##     ## ##       ##    ##  ##    ##
########   #######  ##     ## ########  ######## ##     ##  ######
*/

.border--blue,
.border--primary {
	border-color: #369;
}

.border--black {
	border-color: #000;
}

.border--white {
	border-color: #FFF;
}

/** Border hover effects */
@media ( hover: hover ) and ( pointer: fine ) {

}