/**
 * Styles for login screen.
 *
 * @link https://crstauf.github.io/WordPress-Login-Styles-Generator/ Generator.
 */

:root {
	--r: 0;
	--g: 133;
	--b: 186;
}

#wp-submit {
	background: rgb( var( --r ), var( --g ), var( --b ) );
	border-top-color:    rgb( var( --r ), calc( var( --g ) + 11 ), var( --b ) );
	border-left-color:   rgb( var( --r ), calc( var( --g ) - 30 ), calc( var( --b ) - 33 ) );
	border-right-color:  rgb( var( --r ), calc( var( --g ) - 30 ), calc( var( --b ) - 33 ) );
	border-bottom-color: rgb( var( --r ), calc( var( --g ) - 30 ), calc( var( --b ) - 33 ) );
	text-shadow: 0 -1px 1px rgb( var( --r ), calc( var( --g ) - 30 ), calc( var( --b ) - 33 ) ),
	             1px 0 1px  rgb( var( --r ), calc( var( --g ) - 30 ), calc( var( --b ) - 33 ) ),
	             0 1px 1px  rgb( var( --r ), calc( var( --g ) - 30 ), calc( var( --b ) - 33 ) ),
	             -1px 0 1px rgb( var( --r ), calc( var( --g ) - 30 ), calc( var( --b ) - 33 ) );
	box-shadow: 0 1px 0     rgb( var( --r ), calc( var( --g ) - 30 ), calc( var( --b ) - 33 ) );
}

#wp-submit:hover{
	border-color: rgb( var( --r ), calc( var( --g ) - 30 ), calc( var( --b ) - 33 ) ) !important;
	background:   rgb( var( --r ), calc( var( --g ) - 30 ), calc( var( --b ) - 33 ) ) !important;
}

#user_login:focus,
#user_pass:focus,
#rememberme:focus {
	box-shadow: 0 0 2px rgba( calc( var( --r ) + 30 ), calc( var( --g ) +  7 ), calc( var( --b ) + 4 ), 0.8 );
	border-color:        rgb( calc( var( --r ) + 91 ), calc( var( --g ) + 24 ), calc( var( --b ) + 31 ) );
}

.login p.message a,
.login #login_error a {
	color: rgb( var( --r ), calc( var( --g ) - 18 ), calc( var( --b ) - 16 ) );
}

.login p.message a:hover,
.login #login_error a:hover,
.login #nav a:hover,
.login #backtoblog a:hover {
	color: rgb( var( --r ), calc( var( --g ) + 27 ), calc( var( --b ) + 24 ) );
}

.login .message {
	border-left-color: rgb( var( --r ), calc( var( --g ) + 27 ), calc( var( --b ) + 24 ) );
}

#rememberme::before {
	color: rgb( calc( var( --r ) + 30 ), calc( var( --g ) + 7 ), calc( var( --b ) + 4 ) );
}